/*!

 */
 html.fp-enabled,
 .fp-enabled body {
     margin: 0;
     padding: 0;
     overflow:hidden;
 
 
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 #superContainer {
     height: 100%;
     position: relative;
 
     /* Touch detection for Windows 8 */
     -ms-touch-action: none;
 
     /* IE 11 on Windows Phone 8.1*/
     touch-action: none;
 }
 .fp-section {
     position: relative;
     -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
     -moz-box-sizing: border-box; /* <=28 */
     box-sizing: border-box;
 }
 .fp-slide {
     float: left;
 }
 .fp-slide, .fp-slidesContainer {
     height: 100%;
     display: block;
 }
 .fp-slides {
     z-index:1;
     height: 100%;
     overflow: hidden;
     position: relative;
     -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
     transition: all 0.3s ease-out;
 }
 .fp-section.fp-table, .fp-slide.fp-table {
     display: table;
     table-layout:fixed;
     width: 100%;
 }
 .fp-tableCell {
     display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
 }
 .fp-slidesContainer {
     float: left;
     position: relative;
 }
 .fp-controlArrow {
     -webkit-user-select: none; /* webkit (safari, chrome) browsers */
     -moz-user-select: none; /* mozilla browsers */
     -khtml-user-select: none; /* webkit (konqueror) browsers */
     -ms-user-select: none; /* IE10+ */
     position: absolute;
     z-index: 4;
     top: 50%;
     cursor: pointer;
     width: 0;
     height: 0;
     border-style: solid;
     margin-top: -38px;
     -webkit-transform: translate3d(0,0,0);
     -ms-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
 }
 .fp-controlArrow.fp-prev {
     left: 15px;
     width: 0;
     border-width: 38.5px 34px 38.5px 0;
     border-color: transparent #fff transparent transparent;
 }
 .fp-controlArrow.fp-next {
     right: 15px;
     border-width: 38.5px 0 38.5px 34px;
     border-color: transparent transparent transparent #fff;
 }
 .fp-scrollable {
     overflow: hidden;
     position: relative;
 }
 .fp-scroller{
     overflow: hidden;
 }
 .iScrollIndicator{
     border: 0 !important;
 }
 .fp-notransition {
     -webkit-transition: none !important;
     transition: none !important;
 }
 #fp-nav {
     position: fixed;
     z-index: 100;
     margin-top: -32px;
     top: 50%;
     opacity: 1;
     -webkit-transform: translate3d(0,0,0);
 }
 #fp-nav.right {
     right: 17px;
 }
 #fp-nav.left {
     left: 17px;
 }
 .fp-slidesNav{
     position: absolute;
     z-index: 4;
     left: 50%;
     opacity: 1;
     -webkit-transform: translate3d(0,0,0);
     -ms-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
 }
 .fp-slidesNav.bottom {
     bottom: 17px;
 }
 .fp-slidesNav.top {
     top: 17px;
 }
 #fp-nav ul,
 .fp-slidesNav ul {
   margin: 0;
   padding: 0;
 }
 #fp-nav ul li,
 .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
 }
 .fp-slidesNav ul li {
    display: inline-block;
 }
 #fp-nav ul li a,
 .fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
 }
 #fp-nav ul li a.active span,
 .fp-slidesNav ul li a.active span,
 #fp-nav ul li:hover a.active span,
 .fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
  }
 #fp-nav ul li a span,
 .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
 }
 #fp-nav ul li:hover a span,
 .fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
 }
 #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
 }
 #fp-nav ul li:hover .fp-tooltip,
 #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
 }
 #fp-nav ul li .fp-tooltip.right {
    right: 20px;
 }
 #fp-nav ul li .fp-tooltip.left {
    left: 20px;
 }
 .fp-auto-height.fp-section,
 .fp-auto-height .fp-slide,
 .fp-auto-height .fp-tableCell{
    height: auto !important;
 }
 
 .fp-responsive .fp-auto-height-responsive.fp-section,
 .fp-responsive .fp-auto-height-responsive .fp-slide,
 .fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
 }
 
 /* ************** Custom css ****************** */
 .left-fixed-menu {
    position: fixed;
    top: 0;
    left: -30px;
    bottom: 0;
    background: #242321;
 }
 .left-fixed-menu .nav {
     height: 90%;
 }
 .left-fixed-menu .nav-item {
    transform: rotate(-90deg);
 }
 .left-fixed-menu .nav-item a {
     color: #fff;
    font-size: 11px;
    font-family: 'ParishProLightBook';
    transition: 0.3s;
 }
.left-fixed-menu .nav-item a:hover {
color: #C9AE96;
}
/* home section start */
.home-section .heading-bottom {
    font-family: 'ParishProUltraExtraLight';
}
.home-section .right-text-area {
    background: #fff;
    position: absolute;
    top: 7%;
    right: 0px;
    max-width: 30%;
}
.home-section .right-text-area .middle-text {
    font-family: 'ParishProUltraExtraLight';
}
.home-section .right-text-area .bottom-text {
    font-family: 'ParishProUltraExtraLight';
}
.home-section .bottom-button-area {
    position: absolute;
    left: 40%;
    bottom: 5%;
    width: 30%;
    background: #C9AE96;
    padding: 45px 10px;
}
.home-section .bottom-button-area .get-touch-button {
    font-size: 12px;
}
.home-section .fp-tableCell {
    display: flex;
}
/* carousel customize */
.home-section .carousel-item {
    background: url('../images/home-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.home-section .carousel-control-prev img,
.home-section .carousel-control-next img {
    width: 30px;
    height: 20px;
}
.home-section .carousel-control-next {
    right: 25%;
}

/* journal section start */
.journal-section {
    background: #fff !important;
}
.journal-section .journal-left {
    width: 100%;
    height: 100%;
    background: url('../images/journal-img.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* about section start */
.about-section {
    background: #E8E9E2 !important;
}
.about-section .logo-area {
    padding-bottom: 7%;
}
.about-section .heading {
    font-family: 'ParishProUltraExtraLight';
    color: #ff4aff;
}
.about-section .heading .grey-text {
    color: #898d90;
}
.about-section p {
    text-align: justify;
}
.about-section .text-bottom {
    font-family: 'ParishProUltraExtraLight';
}
/* about section end */
/* specialities section start */
.specialities-section .first-col {
    background: #F4F1ED;
}
.specialities-section .second-col {
    background: #1D1C20;
}
.specialities-section .third-col {
    background: #E4E3DF;
}
.specialities-section .fourth-col {
    background: #1D1C20;
}
.specialities-section .wraper {
    padding-top: 35vh;
}
.specialities-section .wraper h3, p {
    display: inline-block;
}
.specialities-section .wraper p {
    font-family: 'ParishProUltraExtraLight';
}
.specialities-section .section-logo {
    top: 3%;
    right: 3%;
}
.specialities-section .corner-box {
    width: 50px;
    height: 50px;
    border-top-left-radius: 100%;
    bottom: 0;
    right: 0;
}
.specialities-section .first-col .corner-box,
.specialities-section .fourth-col .corner-box {
    right: 15px;
}
/* specialities section end */

/* project area start */
.project-area {
    background: #EFEFEF;
}

/* contact area start */
.in-touch-section {
    background: #fff !important;
}
.in-touch-section .contact-left {
    background: #1A212C;
    padding: 10% 5px;
}
.in-touch-section .contact-right {
    background: #FAFAFA;
    padding: 10% 5px;
}
.in-touch-section .section-logo {
    top: 3%;
    right: 3%;
}

/* form */
  .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    background: unset;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #C9AE96;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 1px solid #C9AE96;
  }
  
  label {
      font-size: 10px;
    letter-spacing: 0.05em;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label {
    cursor: text;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
.in-touch-section .btn-submit {
    border-radius: 0 !important;
    padding: 10px 10px;
}
.in-touch-section .text-60 {
    font-size: 60px;
    line-height: 50px;
}
.in-touch-section .text-40 {
    font-size: 40px;
    line-height: 36px;
}
.in-touch-section .contact-right .wraper {
    padding-top: 20%;
}
.in-touch-section .and-img {
    width: 120px;
}

/* active menu */
.left-fixed-menu .nav-item.active {
    border-bottom: 2px solid #C9AE96;
}
.left-fixed-menu .nav-link {
    padding: .9rem 1rem;
}

/* mobile burger button area */
.mobile-burger-btn {
    top: 0;
    right: 0;
    z-index: 10000;
}
.mobile-burger-btn i {
    background: #aaaaaa9c;
    padding: 10px 14px;
    cursor: pointer;
}
/* mobile collapse area */
.mobile-collapse-area {
    background: #241D21;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow-y: scroll;
    transition: 0.5s;
    display: none;
}
.mobile-collapse-area .nav-link {
    color: #fafafa;
}
.mobile-collapse-area .menu-top {
    padding: 10% 0 8px;
}
.mobile-collapse-area .menu-bottom {
    padding: 8px 0 10%;
}
.mobile-collapse-area .menu-top .nav-link {
    font-family: 'ParishProLightBook';
    font-size: 20px;
    text-transform: uppercase;
}
.mobile-collapse-area .menu-bottom .nav-link {
    font-family: 'ParishProUltraExtraLight';
    font-size: 13px;
}